---
import { Icon } from "astro-icon/components";
const { beginYear } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer>
  <p>
    <span
      >Software engineering with <Icon name="mdi:heart" title="Heart" /> since {
        beginYear
      }.</span
    >
  </p>
  <p>
    <span
      >Built with <Icon name="simple-icons:astro" title="Astro" /> and hosted on
      <Icon name="mdi:github" title="GitHub" />.
    </span>
  </p>
  <p><span>&copy; {currentYear} ztepsic.com</span></p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 1em 0;
    color: #6c757d;
  }
  footer p {
    margin: 0;
    font-size: 1em;
  }
</style>
